.screen-container {
    text-align: center;
    font-size: 42px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    height: fit-content;
    height: -webkit-fill-available;
}
.mat-card {
    background: #b1070d;
    color: #ffffff;
}

.question {
    border-width: 4px;
    border-color: #eded23;
    border-style: solid;
    padding: 24px;
    margin: 16px 15%;
    font-size: 42px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(238,255,0,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(238,255,0,1);
    box-shadow: 0px 0px 16px 0px rgba(238,255,0,1);
}

.answer {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

.scoreboard {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 48px;
    padding: 48px;
    margin: 16px 256px;
}

.score-entry {
    padding: 16px;
    background-color: #e20911;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
}

.score-shape {
    float: right;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #0cbfd6;
    border-color: #a54850;
    border-width: 4px;
    border-style: solid;
    padding: 10px;
    -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.score-score {
    position: relative;
    font-size: 66px;
}

.score-name {
    padding: 24px;
    text-align: left;
    text-transform: uppercase;
}

.smash-image-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: #0cbfd6;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    overflow: hidden;
    margin: 32px;
}

.smash-image {
    width : 100%;
    height : auto;
    display : block;
}
