<div class="screen-container">
    <div *ngIf="getType() === 'scores'">
        <mat-card class="content-center">
            <mat-card-header>
                <mat-card-title>Scores</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <mat-table [dataSource]="getScreenData()" class="mat-elevation-z8">
                    <ng-container matColumnDef="name">
                        <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.name }}</mat-cell>
                    </ng-container>

                    <ng-container matColumnDef="score">
                        <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
                        <mat-cell *matCellDef="let row"> {{ row.score }}</mat-cell>
                    </ng-container>

                    <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                    <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
                </mat-table>
            </mat-card-content>
        </mat-card>
    </div>
    <div *ngIf="getType() === 'answersmash'">
        <mat-card class="content-center">
            <mat-card-header>
                <mat-card-title>Answer Smash</mat-card-title>
            </mat-card-header>
            <mat-card-content>
                <div fxLayoutAlign="center">
                    <div class="smash-image-container">
                        <img class="smash-image" [src]="'assets/images/' + getScreenData().image">
                    </div>
                </div>
                <p class="mat-display-2">{{getScreenData().question}}</p>
                <p *ngIf="reveal" class="mat-display-2">{{ getScreenData().answer }}</p>
            </mat-card-content>
        </mat-card>
    </div>
</div>