<div *ngIf="!ready">
    <button mat-button (click)="startGame()">Start Game</button>
    <div class="screen-container" fxLayout="row">
        Go to https://tinyurl.com/xmasbuzzer on your phone
    </div>
</div>
<div *ngIf="ready" class="screen-container" fxLayout="row">
    <mat-card class="content-center" fxFlex="100">
        <div *ngIf="getType() === 'scores'">
            <ul class="scoreboard">
                <li *ngFor="let player of getScreenData()" class="score-entry" fxLayout="row" flexLayoutAlign="center center">
                    <span class="score-name" fxFlex>{{ player.name }}</span>
                    <span fxFlex fxFlexAlign="end">
                        <div class="score-shape">
                            <span class="score-score">{{ player.score }}</span>
                        </div>
                    </span>
                </li>
            </ul>
        </div>
        <div *ngIf="getType() === 'intro'" class="fillHeight">
            <div class="snowflakes" aria-hidden="true">
                <div class="snowflake">
                    ❅
                </div>
                <div class="snowflake">
                    ❆
                </div>
                <div class="snowflake">
                    ❅
                </div>
                <div class="snowflake">
                    ❆
                </div>
                <div class="snowflake">
                    ❅
                </div>
                <div class="snowflake">
                    ❆
                </div>
                <div class="snowflake">
                    ❅
                </div>
                <div class="snowflake">
                    ❆
                </div>
                <div class="snowflake">
                    ❅
                </div>
                <div class="snowflake">
                    ❆
                </div>
                <div class="snowflake">
                    ❅
                </div>
                <div class="snowflake">
                    ❆
                </div>
            </div>
                <mat-card-content class="fillHeight" fxLayout="row" fxLayoutAlign="center center">
                    <div class="title-background"></div>
                    <div class="title" fxFlex fxFlexAlign="center">
                        <p>{{getScreenData().question }}</p>
                    </div>
                </mat-card-content>
            </div>
        <div *ngIf="getType() === 'round'" class="fillHeight">
            <mat-card-content class="fillHeight" fxLayout="row" fxLayoutAlign="center center">
                <div class="question question-margin" fxFlex fxFlexAlign="center">
                    <p>{{getScreenData().question }}</p>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="getType() === 'category'" class="fillHeight">
            <mat-card-content class="fillHeight" fxLayout="row" fxLayoutAlign="center center">
                <div class="question question-margin" fxFlex fxFlexAlign="center">
                    <p>{{getScreenData().answer }}</p>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="getType() === 'answersmash'" class="fillHeight">
            <mat-card-content>
                <div fxLayoutAlign="center">
                    <div class="smash-image-container">
                        <img class="smash-image" [src]="'assets/images/' + getScreenData().image">
                    </div>
                </div>
                <div *ngIf="!reveal" class="question question-margin">
                    <p>{{getScreenData().question}}</p>
                </div>
                <div *ngIf="reveal" class="question question-margin">
                    <p>{{ getScreenData().answer }}</p>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="getType() === 'cinenyms'" class="fillHeight">
            <mat-card-content class="fillHeight" fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex fxFlexAlign="center">
                    <div *ngIf="!reveal" class="question question-margin">
                        <p>{{getScreenData().question }}</p>
                    </div>
                    <div *ngIf="reveal" class="question question-margin">
                        <p>{{ getScreenData().hint }}</p>
                    </div>
                    <div *ngIf="reveal" class="question question-margin">
                        <p>{{ getScreenData().answer }}</p>
                    </div>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="getType() === 'backwards'" class="fillHeight">
            <mat-card-content class="fillHeight" fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex fxFlexAlign="center">
                    <div *ngIf="getScreenData().image" fxLayoutAlign="center">
                        <div class="smash-image-container">
                            <img class="smash-image" [src]="'assets/images/' + getScreenData().image">
                        </div>
                    </div>
                    <div *ngIf="!reveal" class="question question-margin">
                        <p>{{getScreenData().question | backwards : true }}?</p>
                    </div>
                    <div *ngIf="reveal" class="question question-margin">
                        <p>{{ getScreenData().answer | backwards }}</p>
                    </div>
                </div>
            </mat-card-content>
        </div>
        <div *ngIf="getType() === 'cover'" class="fillHeight">
            <mat-card-content class="fillHeight" fxLayout="row" fxLayoutAlign="center center">
                <div fxFlex fxFlexAlign="center">
                    <div fxLayoutAlign="center">
                        <div class="smash-image-container">
                            <img class="smash-image" [src]="'assets/images/' + getScreenData().image">
                        </div>
                    </div>
                    <div *ngIf="!reveal" class="question question-margin">
                        <p>{{getScreenData().question }}</p>
                    </div>
                    <div *ngIf="reveal" class="question question-margin">
                        <p>{{ getScreenData().answer }}</p>
                    </div>
                </div>
            </mat-card-content>
        </div>
    </mat-card>
</div>