.screen-container {
    text-align: center;
    font-size: 42px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    height: calc(100vh - 16px);
}
.mat-card {
    background: rgba(255,145,145,1);
    background: -moz-linear-gradient(-45deg, rgba(255,145,145,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 30%, rgba(240,47,23,1) 70%, rgba(153,34,23,1) 100%);
    background: -webkit-gradient(left top, right bottom, color-stop(0%, rgba(255,145,145,1)), color-stop(10%, rgba(241,111,92,1)), color-stop(30%, rgba(246,41,12,1)), color-stop(70%, rgba(240,47,23,1)), color-stop(100%, rgba(153,34,23,1)));
    background: -webkit-linear-gradient(-45deg, rgba(255,145,145,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 30%, rgba(240,47,23,1) 70%, rgba(153,34,23,1) 100%);
    background: -o-linear-gradient(-45deg, rgba(255,145,145,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 30%, rgba(240,47,23,1) 70%, rgba(153,34,23,1) 100%);
    background: -ms-linear-gradient(-45deg, rgba(255,145,145,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 30%, rgba(240,47,23,1) 70%, rgba(153,34,23,1) 100%);
    background: linear-gradient(135deg, rgba(255,145,145,1) 0%, rgba(241,111,92,1) 10%, rgba(246,41,12,1) 30%, rgba(240,47,23,1) 70%, rgba(153,34,23,1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#ff9191', endColorstr='#992217', GradientType=1 );
    color: #ffffff;
}

.question {
    border-width: 4px;
    border-color: #eded23;
    background-color: #e20911;
    border-style: solid;
    padding: 24px;
    font-size: 42px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(238,255,0,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(238,255,0,1);
    box-shadow: 0px 0px 16px 0px rgba(238,255,0,1);
}

.question-margin {
    margin: 16px 15%;
}

.answer {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

.title {
    border-width: 8px;
    border-color: #eded23;
    border-style: solid;
    background-color: #e20911;
    z-index: 2;
    font-size: 92px;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
}

.title-background {
    width: 75vh;
    height: 75vh;
    position: absolute;
    z-index: 1;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: #0cbfd6;
    background: #0cbfd6;
    -webkit-box-shadow: 0px 0px 32px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 32px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 32px 0px rgba(0,0,0,1);
    overflow: hidden;
    margin: 32px;
}

.scoreboard {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 800;
    font-size: 48px;
    padding: 48px;
    margin: 16px 256px;
}

.score-entry {
    padding: 16px;
    background-color: #e20911;
    margin: 20px;
    -webkit-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
    box-shadow: 10px 10px 60px 0px rgba(0,0,0,0.75);
}

.score-shape {
    float: right;
    height: 80px;
    width: 80px;
    border-radius: 50%;
    background-color: #0cbfd6;
    border-color: #a54850;
    border-width: 4px;
    border-style: solid;
    padding: 10px;
    -webkit-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
    -moz-box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
    box-shadow: inset 2px 2px 5px 0px rgba(0,0,0,0.75);
}

.score-score {
    position: relative;
    font-size: 66px;
}

.score-name {
    padding: 24px;
    text-align: left;
    text-transform: uppercase;
}

.smash-image-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    border-style: solid;
    border-width: 8px;
    border-color: #0cbfd6;
    -webkit-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    -moz-box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    box-shadow: 0px 0px 16px 0px rgba(0,0,0,1);
    overflow: hidden;
    margin: 32px;
}

.smash-image {
    width : 100%;
    height : auto;
    display : block;
}
