.screen-container {
    text-align: center;
    font-size: 42px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    height: fit-content;
    height: -webkit-fill-available;
}
.mat-card {
    background: #e23c3c;
    color: #ffffff;
}

.question {
    border-width: 4px;
    border-color: #eded23;
    border-style: solid;
    padding: 16px;
    margin: 4px;
    font-size: 42px;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    font-weight: 600;
}

.answer {
    visibility: hidden;
}

.reveal {
    visibility: visible;
}

.smash-image-container {
    width: 500px;
    height: 500px;
    border-radius: 50%;
    overflow: hidden;
    margin: 32px;
}

.smash-image {
    width : 100%;
    height : auto;
    display : block;
}
