/* You can add global styles to this file, and also import other style files */

@import "~@angular/material/prebuilt-themes/indigo-pink.css";
@import url(https://fonts.googleapis.com/css?family=Montserrat);
@import url(https://fonts.googleapis.com/icon?family=Material+Icons);

body {
    background: #000000;
    color: #ffffff;
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.chip-connected {
    background-color: #22dd22 !important;
    color: white !important;
}

.chip-disconnected {
    background-color: #e20911 !important;
    color: white !important;
}

.mat-card {
    font-family: 'Montserrat', Arial, Helvetica, sans-serif;
}

.full-width {
    width : 100%;
}

.fillHeight {
    height: 100%;
}

.fillAvailable {
    height: calc(100vh - 64px - 16px - 64px);
    max-height: calc(100vh - 64px - 16px - 64px);
}

.content-center {
    text-align: center;
}

@media (orientation: portrait) {
    .big-button {
        width: calc(100vw - 16px - 32px) !important;
        height: calc(100vw - 16px - 32px) !important;
        font-size: calc(25vw) !important;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
}

@media (orientation: landscape) {
    .big-button {
        width: calc(100vh - 16px - 32px - 64px) !important;
        height: calc(100vh - 16px - 32px - 64px) !important;
        font-size: calc(25vh) !important;
        font-family: 'Montserrat', Arial, Helvetica, sans-serif;
    }
}

.spacer {
    flex: 1 1 auto;
}

table {
    width : 100%;
}