<mat-toolbar color="accent">
    <mat-toolbar-row>
        <span>Christmas Quiz!</span>
        <span class="spacer"></span>
        <span *ngIf="who">{{ who }} Buzzed</span>
        <span class="spacer"></span>
        <span>
            <button mat-button (click)="showScoreboard()">SHOW SCORES</button>
        </span>
    </mat-toolbar-row>
</mat-toolbar>
<mat-card fxLayout="column" class="fillAvailable">
    <mat-card-content fxLayout="row wrap">
        <div fxFlex="65" [fxFlex.lt-md]="100" class="screen-data" >
            <div *ngIf="question && question.data" fxLayout="column" fxLayoutAlign="center center">
                <div fxLayoutAlign="center" *ngIf="question.data.image">
                    <div class="smash-image-container">
                        <img class="smash-image" [src]="'assets/images/' + question.data.image">
                    </div>
                </div>
                <div *ngIf="question.type !== 'backwards'">
                    <p>{{ question.data.question }}</p>
                    <p *ngIf="question.data.answer">
                        {{ question.data.answer }}
                    </p>
                </div>
                <div *ngIf="question.type === 'backwards'">
                    <p>{{ question.data.question | backwards : true }}?</p>
                    <p *ngIf="question.data.answer">
                        {{ question.data.answer | backwards }}
                    </p>
                </div>
            </div>
        </div>
        <div fxFlex [fxFlex.lt-md]="100">
            <mat-table [dataSource]="scoreboard" class="mat-elevation-z8" fxFlexAlign="center">
                <ng-container matColumnDef="name">
                    <mat-header-cell *matHeaderCellDef>Name</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.name }}</mat-cell>
                </ng-container>

                <ng-container matColumnDef="score">
                    <mat-header-cell *matHeaderCellDef>Score</mat-header-cell>
                    <mat-cell *matCellDef="let row"> {{ row.score }}</mat-cell>
                </ng-container>

                <mat-header-row *matHeaderRowDef="displayedColumns"></mat-header-row>
                <mat-row *matRowDef="let row; columns: displayedColumns;"></mat-row>
            </mat-table>
            <ul>
                <li *ngFor="let score of scoreboard">
                    {{ score.name }} - {{ score.score }}
                </li>
            </ul>
        </div>
    </mat-card-content>
    <div fxFlex></div>
    <mat-card-actions>
        <button mat-button (click)="prevQuestion()">PREV</button>
        <div fxFlex></div>
        <button mat-button (click)="showQuestion()">QUESTION</button>
        <div fxFlex></div>
        <button mat-button (click)="showAnswer()">ANSWER</button>
        <div fxFlex></div>
        <button mat-button (click)="nextQuestion()">NEXT</button>
    </mat-card-actions>
</mat-card>


